extends layout

block content
    div.text-center
        br
        h3.text-center Elérhetőség
        br
        br
        h5 Szeged, Kiss utca 23
        br
        h6 +36 20 285 9975
        br
        h6 admin@pizzadenk.com
        br
        h5 :)


