extends layout

block content
    div.text-center
        br
        br
        h3.text-center Üdv a PizzaDenknél
        h5 Szeged legfinomabb pizzériájában
        h5 Válassz kedvedre pizzáink közül!

        if success
           p= success

