doctype html
html
    head
        title= title
        link(rel='stylesheet' href = '/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
    body

    div(class="wrapper")
        div(class="form-signin")
            h1= title
            if error
                div(class="alert alert-danger" role='alert') #{error}
            div(class="text-center")
                if msg
                    p #{msg}
            form(action="/login" method="post")
                div(class="form-group")
                    label(for="username") E-mail cím
                    input(class="form-control" type="text",name="email" placeholder="pelda@email.com" autofocus)
                div(class="form-group")
                    label(for="password") Jelszó
                    input(class="form-control" type="password",name="password" placeholder="jelszó")
                div(class="form-group")
                    div(class="text-center")
                        a(href="/registration") Regisztráció
                div(class="form-group")
                    div(class="text-center")
                        input(class="btn btn-primary" type="submit" value="Bejelentkezés")