extends layout

block content
    div(class="wrapper")
        div(class="form-signin")
            h1= title
            if error
                div(class="alert alert-danger" role='alert') #{error}
            form(action="/registration" method="post")
                div(class="form-group")
                    label(for="username") Felhasználónév
                    input(class="form-control" type="text",name="username" placeholder="felhasználónév" autofocus)
                div(class="form-group")
                    label(for="password") Jelszó
                    input(class="form-control" type="password",name="password" placeholder="jelszó")
                div(class="form-group")
                    label(for="password2") Jelszó ismétlése
                    input(class="form-control" type="password",name="password2" placeholder="jelszó" autofocus)
                div(class="form-group")
                    label(for="email") Email
                    input(class="form-control" type="text",name="email" placeholder="pelda@email.com")
                div(class="form-group")
                    label(for="email") Szállítási cím
                    input(class="form-control" type="text",name="address" placeholder="szeged pelda ut 22/B lph 3.em/14.ajto")
                div(class="form-group")
                    label(for="email") Telefonszám
                    input(class="form-control" type="text",name="phone" placeholder="+36123456789")




                div(class="form-group")
                    div(class="text-center")
                        input(class="btn btn-primary" type="submit" value="Regisztráció")