doctype html
head
    meta(charset='utf-8')
    title
        | How to get values from html input
    link(rel='stylesheet' href = '/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
h1(style='color: green;')
    | GeeksforGeeks
    script(type='text/javascript').
        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }

body
    p


